@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
	--font: 'Funnel Sans';
}
* { font-family: var(--font); }
.border-image {
	border: 1px solid #242424;
	border-radius: 10rem;
	padding: 1.55rem;
	overflow: hidden;
}

.border-image > img {
	width: 100%;
	height: 100%;
	filter: grayscale(1);
	border-radius: 10rem;
}